# Node modules
node_modules/

# Environment files
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
package-lock.json

# Optional Docker artifacts
*.dockerfile
Dockerfile

# OS-specific files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Production build folders (if you add dist/build later)
dist/
build/
